div {
  height: 10px;
  border: 1px solid black;
  border-radius: 10px;
  background-image: linear-gradient(#0ff, #0ff);
  background-repeat: no-repeat;
  background-size: 0;
  --percent: 100%;
  animation: move 1s linear;
  animation-fill-mode: forwards;
}

@keyframes move {
  to {
    background-size: var(--percent);
  }
}
